<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0/EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.selfdev.selfDevProject.repository.ChallengeMapper">
	<select id="getChallenge" parameterType="int" resultType="net.selfdev.selfDevProject.dto.ChallengeDTO">
		SELECT cname, description, creatorId, startAt, endAt
		FROM challenge
		WHERE creatorId = #{uid}
	</select>
	
	<insert id="setChallenge" parameterType="net.selfdev.selfDevProject.dto.ChallengeDTO">
		INSERT INTO challenge(cname, description, creatorId, startAt, endAt)
		VALUES(#{cname}, #{description}, #{createrId}, sysdate(), #{endAt})
	</insert>
	
	<update id="updateChallenge" parameterType="net.selfdev.selfDevProject.dto.ChallengeDTO">
		UPDATE challenge
		SET cname = #{cname}, description = #{description}, endAt = #{endAt}, modifyAt = sysdate()
		WHERE cname = #{cname}
	</update>
	
	<delete id="deleteChallenge" parameterType="net.selfdev.selfDevProject.dto.ChallengeDTO">
		DELETE FROM challenge
		WHERE cname = #{cname} AND creatorId = #{creatorId}
	</delete>
</mapper>